.about-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 50px 8%;
    background-color: #fff;
    
}

.about-left {
    flex: 1;
    min-width: 420px;
    padding-right: 20px;
}

.about-title {
    font-size: 42px;
    font-weight: 800;
    color: #0b214a;
    margin-bottom: 16px;
    font-family: Roboto Slab, serif;
}

.about-text {
    color: #555;
    line-height: 1.6;
    margin-bottom: 24px;
    font-family: "Poppins", sans-serif;
    font-size: 17px;
}

.about-boxes {
    display: flex;
    /* flex-wrap: wrap; */
    gap: 20px;
}

.about-box {
    flex: 1;
    min-width: 250px;
}

.about-box h3 {
    color: #0b214a;
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 700;
}

.about-box p {
    color: #555;
   
    line-height: 1.6;
    margin-bottom: 10px;
    font-family: "Poppins", sans-serif;
    font-size: 17px;
}

.about-box a {
    color: #e63946;
    font-weight: 600;
    text-decoration: underline;
}

.about-box a:hover {
    text-decoration: underline;
}

.about-right {
    flex: 1;
    display: flex;
    justify-content: center;
}

.about-right img {
    max-width: 100%;
    /* border-radius: 30px; */
    /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); */
}
/* red circular background for icon */
.icon-circle {
    height: 21px;
    width: 21px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #e63946; /* template red */
    border-radius: 50%;
    color: white;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
    margin-right:10px;
  }
  
  /* Ensure the <i> scales and centers */
  .icon-circle i {
    font-size: 18px;
    line-height: 1;
  }