.marquee-container {
    overflow: hidden;
    white-space: nowrap;
    margin-top:70px;
    margin-bottom:70px;
}

.marquee-content {
    /* display: inline-block; */
    animation: scroll-left 15s linear infinite;
}
.marquee-content img{
    width:10%;
}

@keyframes scroll-left {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-100%);
    }
}