h2 {
  font-size: 40px;
  color: rgb(0, 30, 67);
  margin-bottom: 15px;
  font-weight: 800;
  font-family: "Roboto Slab", serif;
}

.program-text {
  line-height: 1.6;
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
  font-size: 17px;

}

.btn .btn-danger {
  position: absolute;
  right: 0;
  top: 8px;
  background: #fa394a;
  color: #fff;
  border: none;
  padding: 6px 24px 12px 24px;
  cursor: pointer;
  font-weight: 700;
}



.text-decoration-none {
  color: rgb(0, 30, 67);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-decoration: underline !important;
}

.list-group-item {
  margin-bottom: 30px;
  background-color: transparent;
}

.listgroup-arrow {
  font-size: 32px;

}

.list-group-flush {
  background-color: #f6f6f6;
  padding: 30px;
}
.student-life{
  padding-top: 100px;
  padding-bottom: 30px;
}