.roboto {
  font-family: 'Roboto', sans-serif;
}

.lato {
  font-family: 'Lato', sans-serif;
}

.montserrat {
  font-family: 'Montserrat', sans-serif;
}

.opensans {
  font-family: 'Open Sans', sans-serif;
}

.nunito {
  font-family: 'Nunito', sans-serif;
}

.raleway {
  font-family: 'Raleway', sans-serif;
}

.sourcesans {
  font-family: 'Source Sans Pro', sans-serif;
}

.montserrat-heading {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  /* bold */
}


/* Force chatbot visible on all devices */


/* #_eedivChatMain {
  position: fixed !important;
  bottom: 20px !important;
  right: 20px !important;
} */

/* #_eedivChatMain {
  position: fixed !important;
  right: 15px !important;
  bottom: 15px !important;
  z-index: 999999 !important;
} */

/* Ensure icon is visible */
/* #__eechatIcon {
  display: block !important;
  visibility: visible !important;
  opacity: 1 !important;
} */

/* Ensure chat window appears above everything */
/* #__eechatWindow {
  z-index: 999999 !important;
  max-height: 80vh !important;
} */
/* #__eechatWindow {
  height: 100vh !important;
  max-height: 100vh !important;
} */

/* Mobile specific fix */
/* @media (max-width: 768px) {
  #_eedivChatMain {
    right: 15px !important;
    bottom: 15px !important;
  }
} */